<footer class="footer">
  <div class="columns">
    <div class="column is-narrow">
      <a href="EduTech@ptc.com">Contact</a>
    </div>
    <div class="column is-narrow">
      <a href="https://www.ptc.com/en/documents/policies">Legal</a>
    </div>
    <div class="column is-narrow">
      <a href="https://www.ptc.com/en/documents/policies/privacy">Privacy Policy</a>
    </div>
    <div class="column is-narrow">
      <a href="http://www.ptc.com/careers">Careers</a>
    </div>
  </div>
  <div class="footer-disclaimer">
    <p>©2021 PTC Inc. All rights reserved. Nothing in these materials is an offer to sell any of the components or devices referenced herein. PTC, Vuforia, Creo, Onshape, ThingWorx, Kepware, Windchill, and Mathcad are trademarks or registered trademarks of PTC Inc. in the United States and other countries. Other products and brand names referenced may be trademarks or registered trademarks of their respective owners.</p>
  </div>
</footer>
